@charset "UTF-8";
.seccionindex {
  background-image: url(https://images.unsplash.com/photo-1568736333610-eae6e0ab9206?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1665&q=80);
  width: 100%;
  padding: 17rem;
  background-position: bottom;
  text-align: center;
  color: black;
  font-family: 'Merienda', cursive;
  font-size: 50px; }
  .seccionindex .anima {
    animation-duration: 3s;
    animation-name: aparecer;
    animation-iteration-count: infinite; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 1; } }

.pieindex, .pienosotros, .pieQO, .piegaleria {
  margin: 2rem;
  padding: 2rem;
  text-align: right;
  background-color: #80c9c6; }

@media only screen and (max-width: 320px) {
  main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "seccionindex" "seccionindex"; }
    main .seccionindex {
      grid-area: seccionindex;
      text-align: left;
      width: 50%; } }

.tituloponti {
  font-size: 80px;
  text-align: center;
  padding: 2rem;
  margin: 1rem;
  text-decoration: underline;
  font-family: 'Pacifico', cursive; }

.seccionnosotros {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "articulo1 articulo2"; }
  .seccionnosotros .articulo1 {
    margin: 2rem;
    padding: 3rem;
    background-color: #a3d5d1;
    grid-area: articulo1; }
    .seccionnosotros .articulo1:hover {
      background-color: #a3d5d1;
      transform: translate(0px, -30px);
      transition: all, 2s ease; }
  .seccionnosotros .articulo2 {
    margin: 2rem;
    padding: 3rem;
    background-color: #a3d5d1;
    grid-area: articulo2; }
    .seccionnosotros .articulo2:hover {
      background-color: #a3d5d1;
      transform: translate(0px, -30px);
      transition: all, 2s ease; }

@media only screen and (max-width: 320px) {
  .seccionnosotros {
    grid-template-areas: "articulo1" "articulo2";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr; } }

.tituloQO {
  margin: 2rem;
  padding: 3rem;
  height: auto;
  font-size: 100px;
  text-decoration: underline;
  text-align: center; }

.div0 {
  margin: 3rem;
  padding: 6rem;
  width: 95%;
  background-color: whitesmoke;
  display: flex;
  flex-direction: row; }
  .div0 .divpareja {
    margin: 3rem;
    padding: 4rem;
    width: 25%;
    background-color: aqua; }
    .div0 .divpareja .divterapia {
      margin: 3rem;
      padding: 4rem;
      width: 25%;
      background-color: aqua; }
      .div0 .divpareja .divterapia .adolescentes {
        margin: 3rem;
        padding: 4rem;
        width: 25%;
        background-color: aqua; }
        .div0 .divpareja .divterapia .adolescentes .niños {
          margin: 3rem;
          padding: 4rem;
          width: 25%;
          background-color: aqua; }
          .div0 .divpareja .divterapia .adolescentes .niños .acompañante {
            margin: 3rem;
            padding: 4rem;
            width: 25%;
            background-color: aqua; }
            .div0 .divpareja .divterapia .adolescentes .niños .acompañante .apoyo {
              margin: 3rem;
              padding: 4rem;
              width: 25%;
              background-color: aqua; }

.titulogaleria {
  margin: 2rem;
  padding: 3re;
  text-decoration: underline; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.contenedor {
  background-image: linear-gradient(#1792a4, #44b4c4, #80c9c6); }

.header {
  background-image: linear-gradient(#1792a4, #44b4c4, #80c9c6); }

h1 {
  font-size: 3em; }
