@charset "UTF-8";
.seccionindex {
  background-image: url(https://images.unsplash.com/photo-1568736333610-eae6e0ab9206?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1665&q=80);
  width: 100%;
  padding: 17rem;
  background-position: bottom;
  text-align: center;
  color: black;
  font-family: 'Merienda', cursive;
  font-size: 50px; }
  .seccionindex .anima {
    animation-duration: 3s;
    animation-name: aparecer;
    animation-iteration-count: infinite; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 1; } }

.pieindex, .pienosotros, .pieQO, .piegaleria {
  margin: 2rem;
  padding: 2rem;
  text-align: right;
  background-color: #80c9c6; }

@media only screen and (max-width: 550px) {
  .seccionindex {
    grid-area: seccionindex;
    text-align: left;
    width: 100%;
    background-size: 400px;
    margin: 0;
    padding: 6rem; }
  h2 {
    text-align: center; } }

.tituloponti {
  font-size: 80px;
  text-align: center;
  padding: 2rem;
  margin: 1rem;
  text-decoration: underline;
  font-family: 'Rubik', sans-serif; }

.seccionnosotros {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "articulo1 articulo2"; }
  .seccionnosotros .articulo1 {
    margin: 2rem;
    padding: 3rem;
    background-color: #a3d5d1;
    grid-area: articulo1; }
    .seccionnosotros .articulo1:hover {
      background-color: #a3d5d1;
      transform: translate(0px, -30px);
      transition: all, 2s ease; }
  .seccionnosotros .articulo2 {
    margin: 2rem;
    padding: 3rem;
    background-color: #a3d5d1;
    grid-area: articulo2; }
    .seccionnosotros .articulo2:hover {
      background-color: #a3d5d1;
      transform: translate(0px, -30px);
      transition: all, 2s ease; }

@media only screen and (max-width: 550px) {
  .seccionnosotros {
    grid-template-areas: "articulo1" "articulo2";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr; }
  .tituloponti {
    font-size: 50px; } }

.tituloQO {
  margin: 2rem;
  padding: 3rem;
  height: auto;
  font-size: 100px;
  text-decoration: underline;
  text-align: center;
  font-family: 'Rubik', sans-serif; }

.div0 {
  margin: 3rem;
  padding: 6rem;
  width: 95%;
  background-color: lightcyan;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 20%; }
  .div0 .divpareja {
    margin: 3rem;
    padding: 4rem;
    width: 25%;
    background-color: aqua;
    border-radius: 80%;
    border: solid lightblue;
    color: black;
    font-weight: 1000;
    background-image: url(https://images.pexels.com/photos/888899/pexels-photo-888899.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: 360px;
    font-weight: 1000; }
    .div0 .divpareja:hover {
      transform: scale(1, 1);
      border-radius: 0%;
      background-image: none;
      background-color: lightblue; }
    .div0 .divpareja .p1 {
      text-align: center; }

.divterapia {
  margin: 3rem;
  padding: 4rem;
  width: 25%;
  background-color: aqua;
  border-radius: 80%;
  border: solid lightblue;
  color: black;
  font-weight: 1000;
  background-image: url(https://images.pexels.com/photos/4101143/pexels-photo-4101143.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-size: 360px; }
  .divterapia:hover {
    transform: scale(1, 1);
    border-radius: 0%;
    background-image: none;
    background-color: lightblue; }

.adolescentes {
  margin: 3rem;
  padding: 4rem;
  width: 25%;
  background-color: aqua;
  border-radius: 80%;
  border: solid lightblue;
  color: black;
  font-weight: 1000;
  background-image: url(https://media.istockphoto.com/photos/woman-school-psychologist-talking-and-helping-student-male-teenager-picture-id1296917152?k=20&m=1296917152&s=612x612&w=0&h=EyUP0FGBSiCU3CKIlBvwPCeWcVGlZgqruvCfs3HIJsE=);
  background-size: 360px;
  background-position: bottom; }
  .adolescentes:hover {
    transform: scale(1, 1);
    border-radius: 0%;
    background-image: none;
    background-color: lightblue; }

.niños {
  margin: 3rem;
  padding: 4rem;
  width: 25%;
  background-color: aqua;
  border-radius: 80%;
  border: solid lightblue;
  color: black;
  font-weight: 1000;
  background-image: url(https://images.pexels.com/photos/8613362/pexels-photo-8613362.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-size: 360px; }
  .niños:hover {
    transform: scale(1, 1);
    border-radius: 0%;
    background-image: none;
    background-color: lightblue; }

.acompañante {
  margin: 3rem;
  padding: 4rem;
  width: 25%;
  background-color: aqua;
  border-radius: 80%;
  border: solid lightblue;
  color: black;
  font-weight: 1000;
  background-image: url(https://images.pexels.com/photos/6288105/pexels-photo-6288105.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-size: 350px; }
  .acompañante:hover {
    transform: scale(1, 1);
    border-radius: 0%;
    background-image: none;
    background-color: lightblue; }

.Apoyo {
  margin: 3rem;
  padding: 4rem;
  width: 25%;
  background-color: aqua;
  border-radius: 80%;
  border: solid lightblue;
  color: black;
  font-weight: 1000;
  background-image: url(https://images.pexels.com/photos/4145354/pexels-photo-4145354.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-size: 360px; }
  .Apoyo:hover {
    transform: scale(1, 1);
    border-radius: 0%;
    background-image: none;
    background-color: lightblue; }
  .Apoyo .p6 {
    text-align: center; }

h3 {
  text-align: center; }

.formulario {
  background-color: white; }

.form {
  margin: 2rem;
  padding: 3rem;
  text-align: center;
  background-color: #44b4c4; }

@media only screen and (max-width: 550px) {
  .tituloQO {
    margin: 2rem;
    padding: 1rem;
    font-size: 45px;
    text-decoration: underline;
    text-align: left; }
  .div0 {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0%;
    margin: 0;
    padding: 0;
    width: 100%; }
    .div0 .divpareja {
      border-radius: 0%;
      width: 180px;
      background-size: 500px;
      padding: 2rem; }
    .div0 .divterapia {
      border-radius: 0%;
      width: 180px;
      background-size: 500px;
      padding: 2rem; }
    .div0 .adolescentes {
      border-radius: 0%;
      width: 180px;
      background-size: 500px;
      padding: 2rem; }
    .div0 .niños {
      border-radius: 0%;
      width: 180px;
      background-size: 500px;
      padding: 2rem; }
    .div0 .acompañante {
      border-radius: 0%;
      width: 180px;
      background-size: 500px;
      padding: 2rem; }
    .div0 .Apoyo {
      border-radius: 0%;
      width: 180px;
      background-size: 500px;
      padding: 2rem; } }

.titulogaleria {
  margin: 2rem;
  padding: 3re;
  text-decoration: underline;
  font-family: 'Rubik', sans-serif;
  text-align: center;
  font-size: 120px; }

@media only screen and (max-width: 550px) {
  .titulogaleria {
    font-size: 50px; }
  .piegaleria {
    text-align: left; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.contenedor {
  background-image: linear-gradient(#1792a4, #44b4c4, #80c9c6); }

.header {
  background-image: linear-gradient(#1792a4, #44b4c4, #80c9c6); }

h1 {
  font-size: 3em; }
