.tituloQO{
    margin: 2rem;
    padding: 3rem;
    height: auto;
    font-size: 100px;
    text-decoration: underline;
    text-align: center;
    font-family: 'Rubik', sans-serif;
}

@mixin cajas {
    margin: 3rem;
    padding: 4rem;
    width: 25%;
    background-color: aqua;
    border-radius: 80%;
    border: solid lightblue;
    color: black;
    font-weight: 1000;
}

.div0{
    margin: 3rem;
    padding: 6rem;
    width: 95%;
    background-color: lightcyan;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 20%;
        .divpareja{
            @include cajas;
            background-image: url(https://images.pexels.com/photos/888899/pexels-photo-888899.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
            background-size: 360px;
            font-weight: 1000;
            &:hover{
                transform: scale(1,1);
                border-radius: 0%;
                background-image: none;
                background-color: lightblue;
            }
            .p1{
                text-align: center;
            }
        }    
}
.divterapia{
    @include cajas;
    background-image: url(https://images.pexels.com/photos/4101143/pexels-photo-4101143.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: 360px;
        &:hover{
            transform: scale(1,1);
            border-radius: 0%;
            background-image: none;
            background-color: lightblue;
        }
}
.adolescentes{
    @include cajas;
    background-image: url(https://media.istockphoto.com/photos/woman-school-psychologist-talking-and-helping-student-male-teenager-picture-id1296917152?k=20&m=1296917152&s=612x612&w=0&h=EyUP0FGBSiCU3CKIlBvwPCeWcVGlZgqruvCfs3HIJsE=);
    background-size: 360px;
    background-position: bottom;
    &:hover{
        transform: scale(1,1);
        border-radius: 0%;
        background-image: none;
        background-color: lightblue;
    }
}
.niños{
    @include cajas;
    background-image: url(https://images.pexels.com/photos/8613362/pexels-photo-8613362.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: 360px;
    &:hover{
        transform: scale(1,1);
        border-radius: 0%;
        background-image: none;
        background-color: lightblue;
    }
}
.acompañante{
    @include cajas;
    background-image: url(https://images.pexels.com/photos/6288105/pexels-photo-6288105.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: 350px;
        &:hover{
        transform: scale(1,1);
        border-radius: 0%;
        background-image: none;
        background-color: lightblue;
    }
}
.Apoyo{
    @include cajas;
    background-image: url(https://images.pexels.com/photos/4145354/pexels-photo-4145354.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: 360px;
    &:hover{
        transform: scale(1,1);
        border-radius: 0%;
        background-image: none;
        background-color: lightblue;
    }
    .p6{
        text-align: center;
    }
}
h3{
    text-align: center
}
.pieQO{
    @extend .pieindex;
}

@media only screen and (max-width: 550px){
    .tituloQO{
        margin: 2rem;
        padding: 1rem;
        font-size: 45px;
        text-decoration: underline;
        text-align: left;
    }
    .div0{
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 0%;
        margin: 0;
        padding: 0;
        width: 100%;
            .divpareja{
                border-radius: 0%;
                width: 180px;
                background-size: 500px;
                padding: 2rem;
            }
            .divterapia{
                border-radius: 0%;
                width: 180px;
                background-size: 500px;
                padding: 2rem;
            }
            .adolescentes{
                border-radius: 0%;
                width: 180px;
                background-size: 500px;
                padding: 2rem;
            }
            .niños{
                border-radius: 0%;
                width: 180px;
                background-size: 500px;
                padding: 2rem;
            }
            .acompañante{
                border-radius: 0%;
                width: 180px;
                background-size: 500px;
                padding: 2rem;
            }
            .Apoyo{
                border-radius: 0%;
                width: 180px;
                background-size: 500px;
                padding: 2rem;
            }
    }

}