.tituloQO{
    margin: 2rem;
    padding: 3rem;
    height: auto;
    font-size: 100px;
    text-decoration: underline;
    text-align: center;
}

@mixin cajas {
    margin: 3rem;
    padding: 4rem;
    width: 25%;
    background-color: aqua;
    border-radius: 80%;
    border: solid lightblue;
    color: black;
    font-weight: 1000;
}

.div0{
    margin: 3rem;
    padding: 6rem;
    width: 95%;
    background-color: lightcyan;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 20%;
        .divpareja{
            @include cajas;
            background-image: url(https://images.pexels.com/photos/888899/pexels-photo-888899.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
            background-size: 300px;
            color: white;
            font-weight: 1000;
            .p1{
                text-align: center;
            }
        }    
}
.divterapia{
    @include cajas;
    background-image: url(https://images.pexels.com/photos/4101143/pexels-photo-4101143.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: 325px;
}
.adolescentes{
    @include cajas;
    background-image: url(https://media.istockphoto.com/photos/woman-school-psychologist-talking-and-helping-student-male-teenager-picture-id1296917152?k=20&m=1296917152&s=612x612&w=0&h=EyUP0FGBSiCU3CKIlBvwPCeWcVGlZgqruvCfs3HIJsE=);
    background-size: 320px;
    background-position: bottom;
    color: white;
}
.niños{
    @include cajas;
    background-image: url(https://images.pexels.com/photos/8613362/pexels-photo-8613362.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: 330px;
}
.acompañante{
    @include cajas;
    background-image: url(https://images.pexels.com/photos/6288105/pexels-photo-6288105.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: 330px;
    color: white;
}
.Apoyo{
    @include cajas;
    background-image: url(https://images.pexels.com/photos/4145354/pexels-photo-4145354.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: 330px;
    .p6{
        text-align: center;
    }
}
.pieQO{
    @extend .pieindex;
}

@media only screen and (max-width: 350px){
    .tituloQO{
        margin: 2rem;
        padding: 1rem;
        font-size: 50px;
        text-decoration: underline;
        text-align: center;
    }
    .div0{
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 0%;
        margin: 0;
        padding: 0;
        width: 100%;
            .divpareja{
                border-radius: 0%;
                width: 180px;
            }
            .divterapia{
                border-radius: 0%;
                width: 180px;
            }
            .adolescentes{
                border-radius: 0%;
                width: 180px;
            }
            .niños{
                border-radius: 0%;
                width: 180px;
            }
            .acompañante{
                border-radius: 0%;
                width: 180px;
            }
            .Apoyo{
                border-radius: 0%;
                width: 180px;
            }
    }

}