.tituloQO{
    margin: 2rem;
    padding: 3rem;
    height: auto;
    font-size: 100px;
    text-decoration: underline;
    text-align: center;
}

@mixin cajas {
    margin: 3rem;
    padding: 4rem;
    width: 25%;
    background-color: aqua;
}

.div0{
    margin: 3rem;
    padding: 6rem;
    width: 95%;
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
        .divpareja{
            @include cajas;
                .divterapia{
                    @include cajas;
                        .adolescentes{
                            @include cajas;
                                .niños{
                                    @include cajas;
                                        .acompañante{
                                            @include cajas;
                                                .apoyo{
                                                    @include cajas;
                                                }
                                        }
                                }
                        }
                }
        }    
}
.pieQO{
    @extend .pieindex;
}