@import "index";
@import "nosotros";
@import "queofrecemos";
@import "galeria";

$background:linear-gradient(#1792a4, #44b4c4, #80c9c6); 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contenedor{
    background-image: $background
}
.header{
    background-image: $background
}

$headings: (
    h1: 1em,
    h2: 0.5em,
    h3: 0.25em
);

$h1: map-get($headings, h1);
h1{
    font-size: $h1;
}